@{
    Layout = "~/Views/Shared/_ConsultantLayout.cshtml";
}

<h2>Create Timesheet</h2>

<form asp-action="CreerTimesheet" method="post">
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" class="form-control"></textarea>
    </div>

    <div id="timesheetLines">
        <!-- Timesheet Lines will be dynamically added here -->
    </div>

    <button type="button" id="addLineButton" class="btn btn-secondary mb-3">Add Line</button>

    <button type="submit" class="btn btn-success">Create</button>
</form>

<script>
    let lineIndex = 0;

    document.getElementById('addLineButton').addEventListener('click', function () {
        const lineHtml = `
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label>Consultant Email</label>
                                <select name="lines[${lineIndex}].ConsultantName" class="form-control">
    @foreach (var email in ViewBag.Consultants)
    {
                                                <option>@email</option>
    }
                                </select>
                            </div>
                            <div class="col">
                                <label>Validator Email</label>
                                <select name="lines[${lineIndex}].ValidateurName" class="form-control">
    @foreach (var email in ViewBag.Validators)
    {
                                                <option>@email</option>
    }
                                </select>
                            </div>
                            <div class="col">
                                <label>Date</label>
                                <input type="date" name="lines[${lineIndex}].Date" class="form-control" />
                            </div>
                            <div class="col">
                                <label>Hours Worked</label>
                                <input type="number" name="lines[${lineIndex}].HoursWorked" class="form-control" min="1" max="8" />
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger mt-4">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            `;
        lineIndex++;
        const container = document.getElementById('timesheetLines');
        container.insertAdjacentHTML('beforeend', lineHtml);

        container.querySelectorAll('.btn-danger').forEach(button => {
            button.addEventListener('click', function () {
                this.closest('.card').remove();
            });
        });
    });

</script>











